<footer>
  <div class="container content">
    <div class="first-col">
      <h2>Fitness Factory</h2>
      <a href="./">
        <img src="./assets/img/logo.png" alt="Fitness Factory Logo" />
      </a>
    </div>
    <div class="col">
      <h3>Nützliches</h3>
      <p>
        noch fragen?<br />
        <a href="./contact-us.html" class="default">schreibe uns</a>
      </p>
    </div>
    <div class="col">
      <h3>Social</h3>
      <a class="social-link" href="./to-be-created.html">
        <img src="./assets/img/icons/tiktok.svg" alt="TikTok" />
        <span>TikTok</span>
      </a>
      <a class="social-link" href="./to-be-created.html">
        <img src="./assets/img/icons/instagram.svg" alt="Instagram" />
        <span>Instagram</span>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="horizontal-line"></div>
  </div>
  <div class="container copyright">
    <p>
      Copyright &copy; 2024 <a href="./" class="default">Fitness Factory</a>
    </p>
    <span class="fill-space"></span>
    <div class="footer-nav">
      <a href="./index.html" class="nav-link home default">Home</a>
      <span>|</span>
      <a href="./imprint.html" class="nav-link imprint default">Impressum</a>
      <span>|</span>
      <a
        href="./house-regulations.html"
        class="nav-link house-regulations default"
        >Hausordnung</a
      >
      <span>|</span>
      <a
        href="./terms-and-conditions.html"
        class="nav-link terms-and-conditions default"
        >AGB</a
      >
      <span>|</span>
      <a href="./privacy-policy.html" class="nav-link privacy-policy default"
        >Datenschutz</a
      >
      <span>|</span>
      <a href="./register-now.html" class="nav-link register-now default"
        >Jetzt anmelden</a
      >
    </div>
  </div>
</footer>
