<header>
  <nav class="expanded">
    <div class="container">
      <a class="brand-wrapper" href=".">
        <img src="./assets/img/logo.png" alt="Fitness Factory Logo" />
        <span class="brand">Fitness Factory</span>
      </a>
      <span class="fill-space"></span>
      <div class="mobile-trigger">
        <input id="mobile-nav-trigger" class="checkbox" type="checkbox" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <span class="link-wrapper">
        <a class="nav-link home" href="./index.html">Home</a>
        <a class="nav-link pricing" href="./pricing.html">Preise</a>
        <a class="nav-link locations" href="./locations.html">Standorte</a>
        <a href="./register-now.html" class="call-to-action">Jetzt Anmelden</a>
        <div class="dropdown">
          <a class="dropdown-trigger"
            ><img
              src="./assets/img/icons/scale-balanced-solid.svg"
              alt="Lawful Content Icon"
          /></a>
          <div class="dropdown-content">
            <a class="nav-link imprint" href="./imprint.html">Impressum</a>
            <a
              class="nav-link house-regulations"
              href="./house-regulations.html"
              >Hausordnung</a
            >
            <a class="nav-link privacy-policy" href="./privacy-policy.html"
              >Datenschutzerklärung</a
            >
            <a
              class="nav-link terms-and-conditions"
              href="./terms-and-conditions.html"
              >AGB</a
            >
          </div>
        </div>
      </span>
    </div>
  </nav>
</header>
<div id="mobile-nav">
  <a class="nav-link home" href="./index.html">Home</a>
  <a class="nav-link pricing" href="./pricing.html">Preise</a>
  <a class="nav-link locations" href="./locations.html">Standorte</a>
  <a href="./register-now.html" class="call-to-action">Jetzt Anmelden</a>
  <span class="fill-space"></span>
  <a class="nav-link imprint" href="./imprint.html">Impressum</a>
  <a class="nav-link house-regulations" href="./house-regulations.html"
    >Hausordnung</a
  >
  <a class="nav-link privacy-policy" href="./privacy-policy.html"
    >Datenschutzerklärung</a
  >
  <a class="nav-link terms-and-conditions" href="./terms-and-conditions.html"
    >AGB</a
  >
</div>
