<header>
  <nav class="expanded">
    <div class="container">
      <a class="brand-wrapper" href=".">
        <img src="./assets/img/logo.png" alt="Fitness Factory Logo" />
        <span class="brand">Fitness Factory</span>
      </a>
      <span class="fill-space"></span>
      <div class="mobile-trigger">
        <input id="mobile-nav-trigger" class="checkbox" type="checkbox" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
      </div>
      <span class="link-wrapper">
        <a href="./index.html">Home</a>
        <a href="./prices.html">Preise</a>
        <a href="./locations.html">Standorte</a>
        <a href="./register-now.html" class="call-to-action">Jetzt Anmelden</a>
      </span>
    </div>
  </nav>
</header>
<div id="mobile-nav">
  <a href="./index.html">Home</a>
  <a href="./prices.html">Preise</a>
  <a href="./locations.html">Standorte</a>
  <a href="./register-now.html" class="call-to-action">Jetzt Anmelden</a>
  <span class="fill-space"></span>
  <a href="./imprint.html">Impressum</a>
  <a href="./house-regulations.html">Hausordnung</a>
</div>
